<div class="messege-view">
  <h2>Message sent complete!</h2>
  <p>
    thank you for the message.<br>
    we have sent you a confirmation email, so please check.
  </p>
  
  <%= link_to spots_path, class: "btn btn-outline-secondary btn-sm" do %>
    <i class="fas fa-undo-alt"></i>
  <% end %>
</div>