<h2>FAVORITE</h2>

<% unless @favorite_list.empty? %>
  <div class="spot-list">
    <% @favorite_list.each do |spot| %>
      <div class="spot-box">
        <%= link_to spot_path(spot) do %>
          <%= attachment_image_tag spot, :spot_img, :fill, 150, 150, format: 'jpeg' %>
          <%= spot.spot_name %>
        <% end %>
      </div>
    <% end %>
<% else %>
    お気に入りをしておりません。<br>
    観光地の詳細ページからお気に入りが出来ます。
<% end %>