<h4>お気に入り</h4>
<% unless @favorite_list.empty? %>
  <% @favorite_list.each do |spot| %>
    <%= spot.spot_name %>
    <%= attachment_image_tag spot, :spot_img, :fill, 100, 100, format: 'jpeg' %>
  <% end %>
<% else %>
  お気に入りをしておりません。
  観光地の詳細ページからお気に入りが出来ます。
<% end %>