<h2>FAVORITE</h2>
<div class="text-center">
  <% unless @favorite_list.empty? %>
    <div class="spot-list">
      <% @favorite_list.each do |spot| %>
        <div class="spot-box">
          <%= link_to spot_path(spot) do %>
            <%= image_tag spot.spot_imgs.first.variant(resize: "150x150") %><br>
            <%= spot.spot_name %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
      You do not favorite it.<br>
     You can favorite from the spot details page！
  <% end %>
</div>