<h2>gmap</h2>
<div id='map'></div>

<style>
#map{
  height: 400px;
  width: 80%;
}
</style>

<script>

let map;

function initMap(){
  
  geocoder = new google.maps.Geocoder()
  
  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 34.97171938, lng: 138.3879278},
  zoom: 9.3
  });
  console.log(gon.spot.latitude);
  console.log(gon.spot.longitude);
  <% @spots.each  do | spot| %>
    <% if spot.latitude && spot.longitude %>
  marker = new google.maps.Marker({
//    position: new google.maps.LatLng(gon.spot.latitude, gon.spot.longitude ),
     position: new google.maps.LatLng(<%= spot.latitude %>, <%= spot.longitude %>),
    map: map
  });
    <% end %>
  <% end %>
  
  map.setCenter( new  google.maps.LatLng(gon.spot.latitude, gon.spot.longitude));
}


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API']%>&callback=initMap" async defer></script>

<%= link_to "観光地の追加をする", new_spot_path, class: "btn btn-secondary" %>

<h5>kk</h5>