<div class="text-center">
  <h2>Do you really want to unsubscribe?</h2>
  <div>
    if you want to unsubscribe, please click "unsubscribe"
  </div>
  <div class="unsubscribe-botton">
    <%= link_to user_path(@user), class: "btn btn-outline-secondary" do %>
      return<i class="fas fa-undo-alt"></i>
    <% end %>
    <%= link_to withdraw_user_path(@user), method: :PATCH, class:"btn btn-outline-danger" do %>
      unsubscribe<i class="fas fa-user-times"></i>
    <% end %>
  </div>
</div>