/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";
  @import "slick-theme";
  @import "slick";

body {
   margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

header {
  width: 100%;
  height: 90px;
  background: #b3d874;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  display: flex; /* flexboxを作成する */
  align-items: center; /* 上下中央に揃える */
  justify-content: space-between; /* 端に配置 */
  top: 0;
  background-image: url(header3.jpg);
  background-size: 100% 100%;
  background-color: rgba(255,255,255,0.4);
  background-blend-mode: lighten; /* 明るく薄くできる（画像の前に持ってくる）*/
  font-family:"Comic Sans MS", "ヒラギノ明朝 Pro W3", serif;
  font-weight: 900;
}

main {
  flex: 1;
}

h1 {
  font-size: 30px;
  color: #000000;
}

ul {
  list-style: none;
  display: flex;
}

li {
  color: #000000;
}

.title-link a{
  color: #000000;
}

.title-link a:hover {
  text-decoration: none;
}

.title-link:hover {
  background-color: rgba( 255, 255, 255, 0.3);
  padding: 5px;
  color: #000000;
  font-size: 2.1em;
}

.menu-link a {
  padding: 10px 15px;
  color: #494949;
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
}

.menu-link i {
  padding: 10px 15px;
  color: #494949;
  text-decoration: none;
  font-weight: 900;
  font-size: 30px;
}

.menu-link:hover {
  text-decoration: none;
  background-color: rgba( 255, 255, 255, 0.3);
  font-size: 1.5em;
}

.menu-link a:hover {
  color: #000000;
}

.menu-link i:hover {
  color: #000000;
}


.name-link {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 50px;
}

.name-link a {
  padding: 10px 10px;
  color: #3c3c3c;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.name-link a:hover {
  text-decoration: none;
  background-color: rgba( 255, 255, 255, 0.3);
  font-size: 1.1em;
  color: #000000;
}

.success {
  color: #7f7fff;
  text-align: center;
  font-weight: bold;
  margin-top: 1%;
}

.alert {
  color: #ff7f7f;
  text-align: center;
}

.log_in {
  text-align: center;
  padding-top: 2%;
}

.sign-up {
  text-align: center;
  padding-top: 2%;
}

.actions {
  padding-top: 2%;
}

footer {
  height: 50px;
}

.message-btn {
  line-height: 50px;
  background-color: #eeff99;
  margin-top: 30px;
  text-align: right;
  padding-right: 30px;
}
