// Place all the styles related to the user/spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map{
  height: 380px;
  width: 80%;
  margin : 0 auto
}

script {
  text-align : center
}

h3{
    position: relative;
    padding: 1.4rem 1rem;
    text-align: center;
}

h3:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: '';
    background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-image: pepeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.spot-add {
  text-align: right;
  padding-right: 10%;
}

.object {
  background: linear-gradient(transparent 70%, #c9ff93 70%); /*下線 */
}

.show-imgs {
  display: flex;
  flex-wrap: wrap;
}

.show-img {
  width: 50%;
  text-align: center;
  padding-top: 10px;
}

.map-explain {
  font-size: 15px;
  text-align: center;
}

.image_input_btn{
  display: block;
  background-color: #6cbb5a;
  width: 180px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.image_input_btn:hover{

  background-color: #009944;
}

.image_form{
  display: none; /*写真選択ボタンを一つにする*/
}

.spot-img-list{
  display: flex;
  flex-wrap: wrap;
}

.spot-img-box {
  width: 40%;
  height: 190px;
  margin: 10px auto;
}

.genre-tag {
  position: relative;
  display: inline-block;
  padding: 0.2rem 0.5rem 0.2rem 1.6rem;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #c49a6a;
}

.genre-tag:before {
  width: 6px;
  height: 6px;
  position: absolute;
  top: calc(50% - 1px);
  left: 10px;
  content: '';
  border-radius: 50%;
  background: #fff;
}

.new-take-care {
  color: #ff7f7f;
  text-align: center;
}

.spot_box {
  text-align: center;
}


@media screen and (max-width: 1024px) { //responsive
  #map {
    height: 1000px;
  }

  .check_box {
    transform: scale(1.8);
    margin-right: 5px;
  }

  .spot_box {
    font-size: 40px;
  }

  .form-check-input {
    transform: scale(2.2);
    margin-right: 5px;
  }

  .form-check {
    font-size: 30px;
  }

  th {
    font-size: 30px;
  }

  .menu-link a {
    font-size: 60px;
  }
  
  .info-text {
    font-size: 20px;
  }
  
  .index-btn {
    height: 50px;
    width: 150px;
    font-size: 25px !important;
  }

  .show-btn {
    height: 40px;
    width: 120px;
    font-size: 20px !important;
  }
}